* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .background {
  position: relative;
  background: url("../Assets/aura.jpg");
  background-position: top;
  height: 100vh;
  width: 100%;
}

section .navbar-items {
  position: absolute;
  color: #fff;
  font-size: 100;
  text-decoration: none;
  top: 60px;
  left: 45px;
  width: 93px;
  height: 97px;
  flex-shrink: 0;
}

section .navbar-items .item {
  font-size: 36px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  margin-left: 5px;
  letter-spacing: 14.4px;
}

section nav .item2 {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.2px;
  right: 20%;
  top: 15%;
}

section nav .item3 {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.2px;
  right: 5%;
  top: 15%;
}

section .main-word {
  position: absolute;

  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  height: 475px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 148px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 24.306% */
  letter-spacing: 14.4px;
  text-transform: uppercase;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

section .main-word2 {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  display: inline-block;
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  top: 29%;
  left: 35%;
  margin-left: 12px;
}

section .main-word3 {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  display: inline-block;
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  top: 67%;
  left: 51%;
  margin-top: -4px;
  margin-left: -1px;
}

section .main-word4 {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  display: inline-block;
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  top: 71%;
  left: 51%;
  margin-left: -1px;
}

section .icon1 {
  position: absolute;
  bottom: 18%;
  margin-left: 52px;
}

section .icon2 {
  position: absolute;
  bottom: 10%;
  margin-left: 50px;
}

section .icon3 {
  position: absolute;
  bottom: 2%;
  margin-left: 50px;
}

section .main-word5 {
  color: #fff;
  position: absolute;
  display: flex;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5.6px;
  transform: rotate(90deg);
  bottom: 16%;
  right: 2%;
  flex-shrink: 0;
}

section .icon4 {
  position: absolute;
  bottom: 1%;
  right: 5%;
}
